<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
    <h1 style="color:red">EJS IS WORKING</h1>
    <H1>this is the home page</H1>
    <p>this is the home page of the website</p>
    
</body>
</html>